LICENSE
README.md


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/


plotscode/plots/
plotscode/.Rhistory
plotscode/.RData

pynaoqi-python2.7-2.8.6.23-linux64-20191127_152327/