/* Authors: Brendan Chermack, Abby Sininger, and Eion Ness */

html body {
	background-color: rgb(25, 25, 25);
}
.container-fluid {
	background-color: rgb(25, 25, 25);
	padding: 0px;
	margin: 0px;
	align-items: center;
}
.container-fluid h3 {
	color: rgb(255, 255, 255);
	font-size: 35px;
}
.custom-container {
	margin-top: 2.5%;
}
.custom-container h1 {
	padding: 25px;
	font-size: 75px;
	color: rgb(255, 255, 255);
}
.logo {
	padding: 10px;
	height: 190px;
	position: absolute;
}

.btn-img {
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 25px;
    height: 190px;
    width: 100%;
    margin-top: 27.5%;
    background-color: #2D3A66;
    transition: all 0.3s ease;
    flex-direction: column;
}
.btn button{
    opacity: 65%;
}
.btn-img:hover{
    background-color: #6d0303;
    transition: all 0.3s ease;
}
.btn-img img {
    max-height: 125px; 
    max-width: 100%; 
}
h3{
    color: white;
}
.btn-img h3.brainD{
    margin-top: 15px;
}
.btn-img img.brainDImg{
    margin-top: 15px;
}
.btn-primary {
	background-color: #303e6e;
}
